body{
    background-color: #0d1652;
    align-items: center;
    color: white;
    text-align: center;
    border-right: 20px solid #36b1bf;
    border-bottom: 20px solid #36b1bf;
    border-left: 20px solid #36b1bf;
    /* padding-bottom: 100%; */
    margin-right: 0%;
    margin-left: 0%;
    margin-bottom: 0%;
    

    
}